body {
  background-color: #24494f;
  font-family: monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #3099a7;
  font-size: 10px;
  font-weight: bolder;
  color: #e7dfbb;
  width: 100%;
  top: 0;
  padding: 5px 0;
  margin-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3099a7;
  width: 90%;
  max-width: 470px;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0px 10px 10px;
  border-radius: 10px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e7dfbb;
  background-color: #3099a7;
  width: 100%;
  padding: 20px 10px;
  margin-top: -10px;
  margin-bottom: -60px;
  z-index: 1;
  border-radius: 10px;
}

div {
  contain: content;
  width: 100%;
  margin-top: 0px;
  border-radius: 10px;
}

iframe {
  width: 100%;
}

#spot_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7dfbb;
}

#show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7dfbb;
  width: 90%;
  height: 90%;
  margin: 0;
  border-radius: 15px;
}

#show div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#show p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #3099a7cd;
  padding: 0;
  margin: 0;
}

#instagram {
  padding-top: 10px;
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  bottom: 0;
  background-color: #3099a7;
  color: #24494f;
  height: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0;
}

a,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #24494f;
  padding: 5px;
  text-align: center;
}
