body {
  background-color: #24494f;
  font-family: monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #3099a7cd;
  font-size: 10px;
  color: #e7dfbb;
  width: 100%;
  top: 0;
  padding: 5px 0;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 470px;
}

h2 {
  color: #e7dfbb;
}

#spot_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7dfbb;
}

#show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7dfbb;
  width: 90%;
  height: 90%;
  margin: 0;
  border-radius: 15px;
}

#show div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#show p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #3099a7cd;
  padding: 0;
  margin: 0;
}
